# =========================
# Build artifacts
# =========================
dist
.out
.out-tsc
.nx
.next
coverage

# =========================
# TypeScript build info
# =========================
*.tsbuildinfo
*.bak

# =========================
# Environment files
# =========================
.env
.env.local
.env.*.local

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# Node modules
# =========================
node_modules/

# =========================
# Editor and IDE
# =========================
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional: Mac/Unix swap files
# =========================
*.swp
*.swo

# =========================
# Optional: Testing artifacts
# =========================
jest-report/
coverage/

# Never allow compiled output in src
apps/**/src/**/*.js
apps/**/src/**/*.js.map
tmp/
.env
apps/api/.env
apps/web/.env
